# --- Existing rules ---
ysh
*.o
console
.vscode/
.DS_Store
**/ori-*

# --- xv6 Specific Ignore Rules (Apply to HW2, HW3...) ---
# Build Artifacts
*.d
*.asm
*.sym
*.o

# Generated Binaries & Images
_*(
fs.img
mkfs/mkfs
kernel/kernel
user/usys.S
user/_*

# GDB
.gdbinit