# --- Global Ignore ---
.vscode/
.DS_Store
*.swp
**/ori-*

# --- Assignment 1 (ysh) ---
ysh
*.o

# --- Assignment 2, 3, 4 (xv6-riscv) ---
# 1. Object files & Dependencies
*.o
*.d

# 2. Generated Binaries & Images
fs.img
.gdbinit

# 3. Kernel compiled binaries
kernel/kernel
kernel/*.asm
kernel/*.sym

# 4. User program compiled binaries (xv6 binaries start with _)
user/_*
user/usys.S
user/*.asm
user/*.sym

# 5. Tools
mkfs/mkfs